/* tamplate ini di miliki oleh afins corp / AF Developer 2024
    Tamplate terbuka, boleh di pakai oleh siapapun..
    follow my IG af_developer_
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
    user-select: none;
	/*pointer-events: none;*/
}

.hero{
   margin:0;
    background-image: url('https://cdn1.airdroid.com/V3562406191729/theme/stock/images/wallpaper/default.jpg');
	background-color: #2a5c5c;
	height : 100%;
	width: 100%;
	background-repeat: no-repeat
	background-position: top;
	background-attachment: fixed;
	background-size: cover;
	display : flex;
	align-items: center;
	justify-content:center;
	margin: 0 auto;
	height: 100vh;
}

nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo{
    width: 40px;
}

nav ul li{
    list-style: :none;
    display: inline-block;
    margin-left: 40px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
	transition: 1s;

}
nav ul li a:hover {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
	color: aqua;
	transition: 1s;
}

.content{
    text-align: none;
	position: absolute;
}

.content h1{
    font-size: 30px;
    color: #fff;
    font-weight: 600;
}

.content a{
    text-decoration: none;
    display: inline-block;
    color:#fff;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 15px 20px;
    border-radius: 50px;
    margin-top: 20px;
    transition: 1s;
}

.content a:hover{
    text-decoration: none;
    color:Linear-gradient(180deg , #198375, #abe3e3, #2dc3c394);
    font-size: 24px;
    border: 2px solid #198375;
    padding: 25px 30px;
    border-radius: 50px;
    margin-top: 20px;
    transition: 1s;
}
/*font*/
p{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.534);
}

h5 {
	margin-right: auto;
	padding-left: 19px;
	font-family: sans-serif;
	font-size: 20px;
	color: rgba(255, 255, 255, 0.534);
}
img {
	pointer-events: none;
}
.back-video{
    height: 100%;
    margin: 0px;
    object-fit: cover;
    padding: 0px;
    position: absolute;
    width: 100%;
	z-index : -1;
	background-color: black;
}

/*menu*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #000000ba;
	backdrop-filter: blur(10px);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  

.overlayGradient {
	width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    background-image: radial-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%), radial-gradient(rgba(0, 0, 0, 0) 33%, rgba(0, 0, 0, 0.3) 166%);
    transform: translateZ(0px);
    backface-visibility: hidden;
    perspective: 1000px;
	backdrop-filter: blur(1px);
    transition: all 0.07s ease-out 0s;
}


iframe {
	margin-top: 20px;
}

section{
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
/*bagian search bar for size : Dekstop*/
input {
    width: 700px;
    height: 100%;
    background-color: #232b2ad9;
    border-radius: 50px;
    border: none;
    color: aqua;
    font-size: 20px;
    padding-left: 23px;
    padding-right: 57px;
    border: 2px solid #3e494d;
    outline: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

.searchBtn {
	width: 50px;
	height: 47px;
	background-color: #18475300;
	border-radius: 50px;
	border: none;
	color: white;
	margin-left: -60px;
    transition: 1s;
}
.searchBtn:hover {
    color: aqua;
    transition: 1s;
}


/* scroll settings*/

::-webkit-scrollbar {
    width: 6px;
}
 
::-webkit-scrollbar-track {
    background: #ffffff00!important;    
}
 
::-webkit-scrollbar-thumb {
    background: #35cfd8;
    border-radius: 50px;
}

div.scrollmenu {
  background-color: rgba(51, 51, 51, 0);
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: aquamarine;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  transition: 0.2s;
}

div.scrollmenu a:hover {
  background-color: rgba(119, 119, 119, 0.281);
  transition: 0.2s;
}


@media screen and (max-width: 1031px) { /*size for PC*/
	
nav ul li a {
	text-decoration: none;
	color: #fff;
	font-size: 14px;
}
	
nav ul li{
    list-style: :none;
    display: inline-block;
    margin-left: 15px;
}
.content a{
    text-decoration: none;
    display: inline-block;
    color:#fff;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 8px 50px;
    border-radius: 50px;
    margin-top: 20px;
    transition: 1s;
}
.content h1{
    font-size: 50px;
    color: #fff;
    font-weight: 600;
    } 
    
}

@media screen and (max-width: 768px) { /*size for laptop*/
	
nav ul li a {
	text-decoration: none;
	color: #fff;
	font-size: 14px;
}
	
nav ul li{
    list-style: :none;
    display: inline-block;
    margin-left: 15px;
}

.notif-popup{
    width: 400px;
	height: -webkit-fill-available;
    background:#1f2727e6;
    border-radius: 10px;
    position: relative;
    padding: 18px;
    box-shadow: 0 0px 10px rgba(0,0,0,.4);
    margin: auto auto; 	
    backdrop-filter: blur(10px);
	/*transition:  2.0s;*/
}
.content h1{
    font-size: 45px;
    color: #fff;
    font-weight: 600;
}
.content a{
    text-decoration: none;
    display: inline-block;
    color:#fff;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 8px 40px;
    border-radius: 50px;
    margin-top: 20px;
    transition: 1s;
    }
input {
    width: auto;
    }  
.content a:hover{
    text-decoration: none;
    display: inline-block;
    color:Linear-gradient(180deg , #198375, #abe3e3, #2dc3c394);
    font-size: 24px;
    border: 2px solid #198375;
    padding: 8px 45px;
    border-radius: 50px;
    margin-top: 20px;
    transition: 1s;
	}
}
    
@media screen and (max-width: 512px) {

.sidenav{
	background: #c9bcbc40;
	color : black;
}

.sidenav a {
	color : black
}

.overlayGradient {
    background-image:none;
    transform: translateZ(0px);
	backdrop-filter: blur(10px);
}

.content a{
        text-decoration: none;
        display: inline-block;
        color:#fff;
        font-size: 24px;
        border: 2px solid aqua;
        padding: 15px 18px;
        border-radius: 50px;
        margin-top: 20px;
        transition: 1s;
    }
.content a:hover{
        text-decoration: none;
        display: inline-block;
        color:Linear-gradient(180deg , #198375, #abe3e3, #2dc3c394);
        font-size: 24px;
        border: 2px solid #198375;
        padding: 15px 18px;
        margin-top: 20px;
        transition: 1s;
}

input{
    width: 100%;
    }
}

 @media screen and (max-width: 425px) {
        input{
            width: 100%;
        }
    }
